/*
|------------------------------------------------------------------------------
| Scroll Bar
|------------------------------------------------------------------------------
*/

*::-webkit-scrollbar {
	height: 2px;
	width: 3px;
}

*::-webkit-scrollbar-button {
	height: 0px;
	width: 0px;
}

*::-webkit-scrollbar-thumb {
	/* background: #868E96; */
	background: transparent;
	border: 0px none transparent;
	border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
	/* background: #495057; */
	background: transparent;
}

*::-webkit-scrollbar-thumb:active {
	/* background: #343A40; */
	background: transparent;
}

*::-webkit-scrollbar-track {
	/* background: #F1F3F5; */
	background: transparent;
	border: 0px none transparent;
	border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
	/* background: #EEEEEE; */
	background: transparent;
}

*::-webkit-scrollbar-track:active {
	/* background: #EEEEEE; */
	background: transparent;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

.--after-bullet {
	content: "";
	background: gray;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	top: 4px;
	left: calc(100% - 4px);
}
.--before-bullet {
	content: "";
	background: transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: -1em;
	border-top: 1em solid #121212;
	border-right: 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left: 1em solid transparent;
}