/* FONTS */
@font-face { font-family: "Comfortaa-light";  src: url("../../src/fonts/Comfortaa/Light.ttf")  format("truetype"); }
@font-face { font-family: "Comfortaa";src: url("../../src/fonts/Comfortaa/Regular.ttf")format("truetype"); }
@font-face { font-family: "Comfortaa-bold";   src: url("../../src/fonts/Comfortaa/Bold.ttf")   format("truetype"); }
.-comfortaa-light  { font-family: 'Comfortaa-light', cursive; }
.-comfortaa		   { font-family: 'Comfortaa', cursive; }
.-comfortaa-bold   { font-family: 'Comfortaa-bold', cursive; }

@font-face { font-family: "OpenSans-light";  src: url("../../src/fonts/OpenSans/Light.ttf")  format("truetype"); }
@font-face { font-family: "OpenSans";src: url("../../src/fonts/OpenSans/Regular.ttf")format("truetype"); }
@font-face { font-family: "OpenSans-bold";   src: url("../../src/fonts/OpenSans/Bold.ttf")   format("truetype"); }
.-opensans-light  { font-family: 'OpenSans-light', cursive; }
.-opensans{ font-family: 'OpenSans', cursive; }
.-opensans-bold   { font-family: 'OpenSans-bold', cursive; }

@font-face { font-family: "Roboto-light";  src: url("../../src/fonts/Roboto/Light.ttf")  format("truetype"); }
@font-face { font-family: "Roboto";src: url("../../src/fonts/Roboto/Regular.ttf")format("truetype"); }
@font-face { font-family: "Roboto-bold";   src: url("../../src/fonts/Roboto/Bold.ttf")   format("truetype"); }
.-roboto-light  { font-family: 'Roboto-light', cursive; }
.-roboto{ font-family: 'Roboto', cursive; }
.-roboto-bold   { font-family: 'Roboto-bold', cursive; }