<div class="--footer -wrapper -flex" style="background:black">
	<div class="-pointer" onclick="window.app.pragma = FEEDS"><img src="src/img/icons/menu-feed.svg"></div>
	<div class="-pointer"><div class='--sphere'>1</div></div>
	<div class="-pointer"><div class='--sphere'>2</div></div>
	<div class="-pointer"><div class='--sphere'>3</div></div>
	<div class="-pointer"><div class='--sphere'>4</div></div>
	<div class="-pointer"><div class='--sphere'>5</div></div>
	<div class="-pointer"><div class='--sphere'>6</div></div>
	<style type="text/css">
		.--footer img { height:1.5em;padding:1.25em .5em; margin-left:.5em;opacity:.8;}
		.--footer .--sphere { text-align:center;height:1em;width:1em;font-size:1em.;padding:.5em; border-radius: 2em; margin: 1em .5em; background: #222;color: rgba(0,0,0,.75); }
	</style>
	<script type="text/javascript">
		$(".--footer .--sphere").each(function(){ this.on("click",function(){ app.which = $(".--footer .--sphere").array().indexOf(this); app.pragma = CHILDREN }) })
	</script>
</div>