<template>
	<script type="text/javascript">
		let
		menu = $(".--screen.--menu").at().css({background:app.pragma_colors[MENU]})
		, header = _("header","-absolute -zero -row")
		, backButton = _("div","-right -pointer -tile --screen-nav-back").append(_("img").css({height:"4em",padding:"1.5em", filter:"invert(1)"}).attr({src:"src/img/icons/cross.svg"}))
		, title = _("b","-absolute -zero -row",{padding:"1.5em", color:"@CLR_CLOUDS", opacity:.8}).text("MENU")
		;

		menu.append(header.append(title).append(backButton));

		bootstrap.ready("menu");
	</script>
</template>t