<template>
	<script type="text/javascript">
		let
		social = $(".--screen.--social").at().css({background:app.pragma_colors[SOCIAL]})
		, header = _("header","-absolute -zero -row")
		, backButton = _("div","-right -pointer -tile --screen-nav-back").app(_("img").css({height:"4em",padding:"1.5em", filter:"invert(1)"}).attr({src:"src/img/icons/cross.svg"}))
		, title = _("b","-absolute -zero -row",{padding:"1.5em", color:"@CLOUDS", opacity:.5}).text("BUZZ NAS REDES")
		;

		social.app(header.app(title).app(backButton));

		bootstrap.ready("social");
	</script>
</template>