<template>
	
	<!-- progress bar -->
	<div class="-fixed -zero-bottom -row"><div class="--boot-progress -left" style="width:0;background:@WET_ASPHALT;height:.5em;"></div></div>

	<!-- scripts -->
	<script>

		let
		splash = $(".--screen.--splash").at().css({background:"@BACKGROUND"});
		app.call("src/img/logos/logo.svg").then(r => {
			if(r.status==200) r = r.data.morph()[0];
			else return;
			r.get("path").each((me, i) => me.css({
				opacity:0
				, "stroke-dasharray":  me.getTotalLength()
				, "stroke-dashoffset": me.getTotalLength()
				, "stroke": app.colors().WET_ASPHALT
			}, me => {
				me.anime({opacity:1, "stroke-dashoffset":0}, null, ANIMATION_LENGTH, ANIMATION_LENGTH/2*i);
			}));
			splash.prepend(r.css({width:"40%"},()=>{ setTimeout(() => bootstrap.ready("splash"), ANIMATION_LENGTH*3) }));
			app.components.logo_svg = r.cloneNode(true);
		});
	</script>

</template>