<div class="-wrapper -ht-full -keep" style="color:whitesmoke;">
	<div class='-left -ht-full -keep --which-progress' style='background:black;opacity:.4;width:4em;'></div>
	<f class='-left --which-percent' style='color:black;opacity:.4;font-size:3em;padding:.25em;'>0%</f>
	<div class='-absolute -zero -pointer' onclick='window.app.pragma=HOME'>
		<img src='src/img/icons/nav-spheres-w.svg' style='opacity:.8;height:2em;padding:1em'>
	</div>
	<!-- <div class='-wrapper -absolute -zero'>
		<b class='-right -ellipsis --which-name' style='padding:1.25em;font-size:1em;max-width:calc(100% - 6em)'>·</b>
	</div> -->
</div>