<div class='-wd-full -left --article'>
	<div class='-relative -left --time-counter' style='width:7em;min-height:4em;z-index:100'>
		<div class='--after-bullet'></div>
		<div class='-right -content-right --after' style='padding:.05em 1em;color:white;font-size:1.5em;font-weight:lighter'>1</div><br/>
		<div class='-right -content-right --time-random' style='padding:.05em 1.5em;color:lightgray;font-size:.75em'>hora</div>
	</div>
	<div class='-left -content-left --feed-tile' style='padding-bottom:1.5em;width:calc(100% - 7.1em); margin:0; color:whitesmoke;border-left:1px solid #626262;z-index:50'>
		<div style='background:#121212;width:calc(100% - 2em);margin-left:1em;margin-top:8px;border-radius:0 .5em .5em .5em'>
			<div class='--before-bullet'></div>
			<nav class='-left -content-left' style='width:calc(100% - 2em);padding:1em;font-size:1em;color:gray'>
				<div class='-wd-full -left -content-left -ellipsis --title'></div>
			</nav>
			<p class='--content' style='padding:2em .5em 1em 1em; margin-top:-2em;color:whitesmoke'></p>
			<div class='-left --activity' style='width:calc(100% - 2em);padding:1em;margin-top:-2em;font-size:1em'>
				<div class='-left'><img src="src/img/icons/like.svg" style="height: 1em;padding-right:.5em;opacity:.3"/></div>
				<div class='-left --likes'></div>
				<div class='-left'><img src="src/img/icons/share.svg" style="height: 1em;padding-right:.5em;padding-left:1em;opacity:.3"/></div>
				<div class='-left --shares'></div>
				<img src='src/img/icons/link.svg' class='--link -right -pointer' style='height:1em;opacity:.3'/>
			</div>
		</div>
	</div>
</div>