<div class="--child-tile -only-pointer" style="background:#323232;width:calc(100% - 2em);margin:0 .5em;padding:0 .5em;color:#626262;">
	<!-- rank<b>/percent<span> -->
	<div class="-left -content-center --rank" style="margin: 1.5em .5em; width:2em;color:gray"><b></b></div>
	<!-- sphere -->
	<div class="-left --sphere" style="width:5em;margin-left:1.25em">
		<div class="-absolute --remove -keep -zero" style="margin-top:-6em;height:8em;width:3.5em;margin-left:-1em;border-left:1px solid #626262;border-bottom:1px solid #626262"></div>
	</div>
	<!-- name -->
	<p class="-left -ellipsis --parent" style="line-height:4;text-align:left;color:whitesmoke;margin:auto .5em;max-width: calc(100% - 13.5em);"></p>
	
	<div class='-absolute -keep --bullet' style='display:none;left:5.5em;top:calc(100% - 2px);border-top:1em solid #323232;border-right:1em solid transparent;border-bottom:1em solid transparent;border-left:1em solid transparent;'></div>
</div>