<div class="--parent-tile -only-pointer" style="background:#4a4a4a;width:calc(100% - 1.5em);margin:.5em;padding:.25em;color:#626262;display:table;color:gray">
	<!-- rank<b>/percent<span> -->
	<div class="-left -content-center --rank" style="margin: 1.25em auto 0 auto; width:3em"><b class="-comfortaa-light" style="color:#f2f2f2;font-size:1.5em"></b><br/><span></span></div>
	<!-- sphere -->
	<div class="-left --sphere" style="width:5em;margin:.25em 0"></div>
	<!-- indicator -->
	<div class="-left"><img src="" class="--indicator" style="margin-left:-.25em;margin-right:.25em;height:1.5em;padding:1.5em 0;opacity:.3"/></div>
	<!-- name -->
	<div class="-left -ellipsis --parent" style="font-weight:bolder;text-align:left;color:whitesmoke;vertical-align: middle;width: calc(100% - 14.5em);overflow-x: hidden;"></div>
	<div class="-right" style="max-width:4.5em;margin-top: .75em;">
		<div class="-wd-full">
			<img class="-left" src="src/img/icons/emoji-happy.svg" style="height:1.5em"/>
			<div class="-right --mood-positive" style="margin:.25em"></div>
		</div>
		<div class="-wd-full">
			<img class="-left" src="src/img/icons/emoji-angry.svg" style="height:1.5em"/>
			<div class="-right --mood-negative" style="margin:.25em"></div>
		</div>
	</div>
	<div class='-absolute -keep --bullet' style='display:none;left:2.75em;top:calc(100% - 2px);border-top:1em solid #4a4a4a;border-right:1em solid transparent;border-bottom:1em solid transparent;border-left:1em solid transparent;'></div>
</div>