<div class="-wrapper">
	<script type="text/javascript">
		var
		__LOAD_FEEDS__ = function(){
			if(!app.feed) return setTimeout(__LOAD_FEEDS__,256);
			let
			wrapper = document.createElement("div").addClass("-wd-full -scrolls").setStyle({maxHeight:"calc(100% - 12.5em)", marginTop:"8em", paddingTop:"2em"}),
			el ="<div class='-wd-full -left' style='background:#1F1F1F'>\
					<div class='-relative -left --time-counter' style='width:20%;min-height:4em;z-index:100'>\
						<div class='--after-bullet'></div>\
						<div class='-right -content-right --after' style='padding:.05em 1em;color:white;font-size:1.5em;font-weight:lighter'></div><br/>\
						<div class='-right -content-right --time-random' style='padding:.05em 1.5em;color:lightgray;font-size:.75em'></div>\
					</div>\
					<div class='-left -content-left --feed-tile' style='padding-bottom:1.5em;width:calc(80% - 1px); margin:0; color:whitesmoke;border-left:1px dotted #626262;z-index:50'>\
						<div style='background:#121212;width:calc(100% - 2em);margin-left:1em;margin-top:8px;border-radius:0 .5em .5em .5em'>\
							<div class='--before-bullet'></div>\
							<nav class='-left -content-left' style='width:calc(100% - 2em);padding:1em;font-size:1em;color:gray'>\
								<div class='-wd-full -left -content-left -ellipsis --title'></div>\
							</nav>\
							<p class='--content' style='padding:1em; margin-top:-1em;color:whitesmoke'></p>\
							<div class='-left --activity' style='width:calc(100% - 2em);padding:1em;margin-top:-2em;font-size:1em'>\
								<div class='-left'><img src='src/img/icons/like.svg' style='height: 1em;padding-right:.5em;opacity:.3'/></div>\
								<div class='-left --likes'></div>\
								<div class='-left'><img src='src/img/icons/share.svg' style='height: 1em;padding-right:.5em;padding-left:1em;opacity:.3'/></div>\
								<div class='-left --shares'></div>\
								<!-- img src='src/img/icons/link.svg' class='--link -right -pointer' style='height:1em;'/ -->\
							</div>\
						</div>\
					</div>\
				</div>".morph(),
			
			tmp = (
				"<div class='-wd-full -fixed -keep' style='top:3.75em;left:0;z-index:1000'>\
					<div class='-wd-full' style='color:whitesmoke;background:#404040;padding:1em;width:calc(100% - 2em)'>\
						<img class='-left' style='height:2em;opacity:.4;margin-left:3.25em' src='src/img/icons/menu-feed.svg'/>\
						<div class='-left' style='margin-left:1em'>\
							Clipping<br>Últimas notícias\
						</div>\
					</div>\
					<div class='-wd-full' style='margin-top:-4px'>\
						<div style='display:inline-block;left:4.1em;border-top:1em solid #404040;border-right:1em solid transparent;border-bottom:1em solid transparent;border-left:1em solid transparent;'></div>\
					</div>\
				</div>"
			).morph();

			wrapper.app(tmp);

			let
			rand = 1;
			app.feed&&app.feed.feeds&&app.feed.feeds.each(function(i){
				if(i>24) return;
				tmp = el.cloneNode(true);
				tmp.get(".--title")[0].textContent = this.title;
				tmp.get(".--content")[0].textContent = this.content;
				tmp.get(".--shares")[0].textContent = " "+this.share;
				tmp.get(".--likes")[0].textContent = " "+this.like;
				tmp.get(".--after")[0].textContent = Math.ceil(rand);
				tmp.get(".--time-random")[0].textContent = "min";
				rand+=Math.random(0,3);
				wrapper.app(tmp);
			})

			$(".--screen.--feeds .-wrapper")[0].app(wrapper);

			bootstrap.ready("feeds_script")
		}
		
		app.fw.call("http://api.spumedata.com/charts/feed", { hash : btoa({ hash:app.hash, cuid:app.fw.storage("current") }.stringify()) }, function(){
			let
			x = this;
			if(x.status){
				let
				json = x.data.json();
				app.feed = json;
				__LOAD_FEEDS__()
			} else {
				app.fw.error("Feeds não disponíveis...");
				bootstrap.ready("feeds_script")
			}
		});
	</script>
</div>