<div class="-row">
	<form name="login" action="javascript:void(0)" class="-row -keep -content-center" onsubmit="window.app.fw.apply(function(){
			if(this){
				$('.--screen.--login').desappear(ANIMATION_LENGTH, REMOVE);
				window.app.fw.load('views/home.html', null, $('.--screen.--home')[0]);
			}else{

			}
		},this.json())" style="padding:8em 0;">
		<h1>Login</h1>
		<br/>
		<div class='-wd-full -content-center'>
			<input style="width:60%;" class='-input' type="user" name="user" placeholder="Usuário" value=""/>
		</div>
		<div class='-wd-full -content-center' style="margin:.75em 0">
			<input style="width:60%;" class='-input' type="password" name="passwd" placeholder="Senha" value=""/>
		</div>
		<input type="submit" class='-bt -keep' style="font-weight:bolder !important;width:calc(60% + 1.1em);padding:1em 0;background:#DC2431" value="ENVIAR"/>
	</form>
	<style type="text/css">
		.--screen.--login input { color: white; }
	</style>
</div>