<div class='-wrapper'>
	<div class="-wd-full -content-center"><img src="src/img/logos/logo-w.svg" style="height:1.5em;padding:1em 0" /></div>
	<div  class="-pointer -absolute" style="top:0;left:100%;margin-left:-4em" onclick="window.app.pragma = MENU">
		<img src="src/img/icons/nav-back.svg" style="opacity:.8;height:1em;padding:1.5em;transform:rotate(180deg)"/>
	</div>
	<div class="-row -content-center -scrolls" style="width:calc(100% - 4em);padding:2em;height:80%">
		<h3 style="padding:2em auto">Política de privacidade</h3>
		<h1>spume.co</h1>
		<h3 style="padding:2em auto">QUAIS INFORMAÇÔES COLETAMOS? POR QUÊ?</h3>
		<p>É necessário ter um cadastro prévio na base da Spumedata.com, proveniente de aquisição de algum dos serviços prestados pela empresa. Não capturamos informações privadas  de sua conta. Não vendemos suas informações, pode relaxar! Nossa tecnologia foi totalmente desenvolvida por nós, não se preocupe!</p>

		<h3 style="padding:2em auto">DE ONDE UTILIZAMOS INFORMAÇÔES DO CONTEÚDO?</h3>
		<p>Nós não temos um robô que sai capturando informações de sites externos sem autorização.<br/>Só usamos pequenos trechos de fontes que são disponibilizadas publicamente para isto e sempre levando você até a fonte original. Queremos que você fique informado, compartilhe e conheça as várias fontes de informação existentes. Existem milhares de fontes disponíveis no Brasil e no mundo com muita qualidade.</p>

		<h3 style="padding:2em auto">ONDE PEGAMOS OS TEXTOS DAS ESFERAS?</h3>
		<p>Não pegamos de nenhum site, de nenhum grupo específico de sites e nem são pessoas que as fazem manualmente, seria uma tarefa diária quase impossível. Nossa tecnologia organiza automaticamente milhares de informações em palavras para facilitar você a chegar mais rápido até a fonte original. Ela lê milhares de textos e agrupa. Fazemos tudo isso para que você chegue logo onde precisa.<br/><br/>Queremos apenas que você use nosso aplicativo e economize o seu tempo com ele!</p>

		<h3 style="padding:2em auto">PENSE FORA DA CAIXA</h3>
	</div>
</div>