<div class='-wrapper -content-left' style="color:white">
	<div class="-wd-full -content-center"><img src="src/img/logos/logo-w.svg" style="height:1.5em;padding:1em 0" /></div>
	<div  class="-pointer -absolute" style="top:0;left:100%;margin-left:-4em" onclick="window.app.pragma = MENU">
		<img src="src/img/icons/nav-back.svg" style="opacity:.8;height:1em;padding:1.5em;transform:rotate(180deg)"/>
	</div>
	<div class="-scrolls" style="width:calc(100% - 4em);padding:2em;height:calc(100% - 6em);text-align:justify ">
		<h1>Quem somos</h1>
		<br/>
		A spume.co utiliza tecnologia para transformar dados em conhecimento, atuando em: predição de eventos e relação entre dados estatísticos e ciências humanas; monitoramento em tempo real de diversos assuntos, com geração de insights, curadoria e classificação de conteúdos e com uso de inteligência artificial, deep learning e machine learning.
		<br/>
		Soluções end-to end: real-time, data content e long-time.
		<br/>
		<h1>Real-Time</h1>
		<br/>
		Levantamento de informações em tempo real para monitoramento de rumores, comparação entre players e análises e tendências históricas de percepção.
		<br/>
		<h1>Data Content</h1>
		<br/>
		Curadoria automatizada de conteúdo, interpretação de textos e alcance de influencers.
		<br/>
		<h1>Long-Time</h1>
		<br/>
		Associação entre ciências humanas e exatas para antecipação de eventos e cenários futuros, análise semiótica e insights para ações estratégicas.
		<br/>
		<h1>Parceiros</h1>
		<br/>
		Criatec (BNDES e grupo Bozano) e Wayra (grupo Telefónica)
		<br/>
		Por meio de um algoritmo patente, registrado no Brasil e em países do exterior, orientamos diferentes negócios e tomadores de decisão.
		<br/>
		<div class="-row" style="padding-bottom:8em"></div>
	</div>
</div>