<template>

    <!-- BODY -->
    <div class="-wrapper -scrolls -content-center">
        <img src="assets/img/icons/alert.svg" class="-absolute -zero" style="height: 20em; transform:rotate(45deg); opacity:.04; margin:0 3em"/>
        <div class="--stage-alerts" style="padding:2em"></div>
        <!-- make a new card -->
        <div class="-absolute -zero-bottom-right -circle -pointer --new-alert"
            style="margin:2em 4em;height: 6em;width: 6em; background:@GREEN_SEA;box-shadow:0 0 4em black">
            <img
                class="-inverted"
                data-tip="@CONTENT_CARDS_MAKE_CARDS"
                src="assets/img/icons/cross.svg"
                style="height: 6em;width: 6em;padding:2em; transform:rotate(45deg)"
            />
        </div>
    </div>

</template>